* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
}

/* Título */
.topo {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 3em;
    color: #75B79E;
}

/* Jogo */

.container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    position: relative;
}

/* cartas */

.card {
    /* background-color: #A7E9AF; */
    width: 117px;
    height: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 17px;

    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.card img {
    width: 100px;
}
.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #99CEA8;

    position: absolute;
    backface-visibility: hidden;
    transition: all 0.5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .card.opened .back-face, .card.finished .back-face {
    transform: rotateY(0deg);
  }

  .card.opened .front-face , .card.finished .front-face {
    transform: rotateY(-180deg);
  }

/* relogio */
.relogio {
    position: absolute;
    right: 4%;
    top: 5%;
}

h2 {
    color: #75B79E;
    font-size: 1.5em;
}

p {
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

  @media (max-width: 700px) {
      .container {
          margin-top: 20px;
          flex-direction: column;
          align-items: center;
      }

      .relogio {
          top: 14%;
          right: 45%;
      }
  }